
button {
  cursor: grab;
}

.header {
  padding: 10px;
  width: 99vw;
  height: 8vh;
  background-image: linear-gradient(to right, white, blue, red, green, black) ;
  color: Black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
}

.header > h1 {
  font-size: 2rem;
  margin-left: 2vw;
}
.header > h2 {
  font-size: 1.5rem;
  margin-left: 25vw;
  justify-content: center;
}
.display {
  display: flex;
  width: 100vw;
  height: 92vh;
  font-family: 'Kaushan Script', cursive;
}

.cards {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
}

.card {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.card > p {
  margin: 5px;
  font-weight: bold;
}

.card > button {
  margin-top: 5px;
}

.button-hold {
  display: flex;
}

.button-hold > p {
  font-size: 1.5rem;
  margin: 0 5px;
}

.card > img {
  width: 180px;
}

.deck-container {
  width: 30%;
  background-color: rgba(66, 153, 240, 0.829);
  position: relative;
  
}

.deck {
  width: 100%;
  height: 84%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.deck > h2 {
  align-self: center;
  font-size: 2rem;
  color: black;
  margin-bottom: 15px;
}

.deck-item {
  display: flex;
  width: 30%;
  margin-bottom: 15px;
}

.deck-item > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.deck-item p {
  font-size: 1.2rem;
}

.deck-card img {
  height: 180px;
}

.total {
  position: absolute;
  bottom: 0;
  width: 94%;
  height: 10%;
  border: 3px dotted maroon;
  padding: 10px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(66, 153, 240, 0.829);
}
